<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pub Crawl | {{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="{{bodyClass}}">
  {{> header}}
  {{{body}}}
  {{> footer}}

  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/vendor/jquery.timeago.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/request.js"></script>
  <script>
    App.args = {};
    {{#if user}}
      App.args.userId = '{{user._id}}';
    {{/if}}
    {{#if race}}
      App.arg.raceId = '{{race._id}}';
    {{/if}}
  </script>

</body>
</html>
