<div class="list-group">
  {{#each docs}}
    <a href="#" class="list-group-item" data-race-id="{{_id}}" title="{{description}}">{{name}}</a>
  {{/each}}
</div>

<nav>
  <ul class="pagination">
    {{#times pages}}
      <li><a href="#" data-page-id="{{this}}">{{this}}</a></li>
    {{/times}}
  </ul>
</nav>
