<section class="user">
  
  <h3>
    <div>{{name.first}} {{name.last}}</div>
    <div><small>{{email}}</small></div>
  </h3>

  <p>Registered using <em>{{provider}}</em> on <em>{{dateFormat created "MMM D YYYY"}}</em>.</p>

</section>
